.sent-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 33%;
}

.received-message {
    background-color: #EA2C30;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 33%;
    float: right;
}

.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}
