@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    cursor: default;
    color: #4d4d4f;
}

.profilepic {
    display: inline-block;
}

.profilepic .profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, red, orange);
    padding: 2px;
    margin-right: 8px;
}

.profilepic .profile_img .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.profilepic .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0 !important;
}

.postTime {
    margin-top: 8px;
    font-weight: lighter;
    cursor: default;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-transform: uppercase;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.comments .userDetails {
    display: block !important;
}

.comments span {
    color: gray;
    font-size: 10px;
}

.comments h3 {
    display: flex;
    word-wrap: break-word;
    white-space: normal;
}

.comments .top {
    padding: 10px !important;
}

.comment-data {
    display: flex;
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: rgb(70, 65, 65);
}

.comment-data h3 {
    margin-top: 5px;
}

.comment-data p {
    margin-top: 4px;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    font-weight: lighter;
}

.add-comment-details .addComments {
    margin-top: 0 !important;
}

/*TODO make the yes and no buttons in delete form for user*/
.deleteUser {

}