<div id="right">
    <h1>My Profile</h1>
    <p>Name: {{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p>Age: {{ request.user.age }} years old</p>
    <p>Height: {{ request.user.height|floatformat:2 }} cm</p>
    <p>Weight: {{ request.user.weight }} kg</p>
    <p>Eyes color: {{ request.user.eyes_color }}</p>
    <p>Hair color: {{ request.user.hair_color }}</p>
    <p>Sex: {{ request.user.gender }}</p>
    <a href="{% url 'user details' pk=request.user.pk %}">
        <i>View Profile</i>
    </a>
    <a href="{% url 'user edit' pk=request.user.pk %}">
        <i><u>Edit Profile</u></i>
    </a>
</div>