{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <!-- start container -->
    <div id="container">
        <!-- begin left side -->
        <div id="left">
            <h1>Delete Profile</h1>
            <h2> Are you sure you want to delete your profile?</h2>
            <form method="post" action="{% url 'user delete' pk=object.pk %}">
                {{ form }}
                <p class="deleteUser">
                    <button type="submit">Yes</button>
                    <a href="{% url 'index' %}">No</a>
                </p>
                {% csrf_token %}
            </form>
        </div>
        <!-- end left side -->
        {% include 'partials/right-side-page.html' %}
    </div>
    <!-- end container -->
{% endblock %}