{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="left">
            <h1>Delete Profile</h1>
            <h2> Are you sure you want to delete your profile?</h2>
            <p></p>
            <form class="delete-form" method="post" action="{% url 'user delete' pk=object.pk %}">
                {{ form }}
                <button id="yes-button" type="submit">Yes</button>
                {% csrf_token %}
            </form>
            <form class="delete-form" action="{% url 'index' %}">
                <input id="no-button" type="submit" value="No"/>
            </form>
        </div>
        {% include 'partials/right-side-page.html' %}
    </div>
{% endblock %}