{% extends 'base.html' %}
{% block page_content %}
    <div id="container">
        <div id="left">
            {% if thread.receiver == request.user %}
                <h1>@{{ thread.user }}</h1>
            {% else %}
                <h1>@{{ thread.receiver }}</h1>
            {% endif %}
            {% if message_list.all.count == 0 %}
                <div>
                    <p class="empty-text">No Messages</p>
                </div>
            {% endif %}
            {% for message in message_list %}
                <div class="row">
                    <div>
                        {% if message.sender_user == request.user %}
                            <div class="sent-message my-3">
                                <p>{{ message.body }}</p>
                            </div>
                        {% elif message.receiver_user == request.user %}
                            <div class="received-message my-3">
                                <p>{{ message.body }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="card col-md-12 p-3 shadow-sm">
                    <form method="POST" action="{% url 'create-message' thread.pk %}">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-light" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/right-side-page.html' %}
{% endblock page_content %}