{% extends 'base.html' %}
{% block page_content %}
    <div id="container">
        <div id="left">
            {% if thread.receiver == request.user %}
                <h1>@{{ thread.user }}</h1>
            {% else %}
                <h1>@{{ thread.receiver }}</h1>
            {% endif %}
            <p></p>
            {% if message_list.all.count == 0 %}
                <div>
                    <p class="empty-text">No Messages</p>
                </div>
            {% endif %}
            {% for message in message_list %}
                <div class="row">
                    {% if message.sender_user == request.user %}
                        <div class="message-row">
                            <div class="sent-message">
                                {{ message.body }}
                            </div>
                        </div>
                    {% elif message.receiver_user == request.user %}
                        <div class="message-row">
                            <div class="received-message">
                                {{ message.body }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <p></p>
            <form method="POST" action="{% url 'create message' thread.pk %}">
                {% csrf_token %}
                {{ form }}
                <p>
                    <button type="submit">Send Message</button>
                </p>
            </form>
        </div>
        {% include 'partials/right-side-page.html' %}
    </div>
{% endblock page_content %}