{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="whole">
            <h1>People Site</h1>
                <p>Dear friends!</p>

                <p id="about">Relationships are the single most important thing in our lives. It’s the source of
                    all of your best
                    memories,
                    it’s the source of all of your worst memories.
                    When you think back on your life when you’re 95 or 100 years old, and you look back over the course
                    of
                    your
                    lifetime, It’s going to be: ‘I wish I spent more time with the people I loved’, because our
                    relationships
                    they build us, they define us, they sustain us, and they can break us too.
                    Here’s our new dating app where you may find the love our your life. </p>
        </div>
    </div>
{% endblock %}