{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>People site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="header">
    <h1>People site</h1>
    <p>Hello,<br/>
        <span>{{ profile.username }} !</span></p>
</div>

</body>
</html>