{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="left">
            <h1>All profiles</h1>
            {% if user.is_authenticated %}
                {% include 'partials/search_form.html' %}
            {% endif %}
            <div>
                {% for object in page_obj %}
                    <img class="alignleft" src="{% static 'images/heart.jpg' %}" alt="heart image"/>
                    {% if object.profile_picture.url %}
                        <img class="alignright" height="100" src="{{ object.profile_picture.url }}"
                             alt="profile picture"/>
                    {% else %}
                        <img class="alignright" height="100" src="{% static 'images/admin.png' %}"
                             alt="profile picture"/>
                    {% endif %}
                    <div id="user-data">
                        {% if object.get_full_name %}
                            <p>Person's Name: {{ object.get_full_name }}</p>
                        {% endif %}
                        {% if object.age %}
                            <p>Age: {{ object.age }}</p>
                        {% endif %}
                        {% if object.gender %}
                            <p>Sex: {{ object.gender }}</p>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <p align="right"><a href="{% url 'user details' pk=object.pk %}"><i>View Profile</i></a></p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% include 'partials/right-side-page.html' %}
        {% endif %}
    </div>
{% endblock %}

