{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="left">
            <h1>Delete photo</h1>
            <p>Are you sure you want to delete this photo?</p>
            <img width="500" src="{{ object.photo.url }}" alt="photo {{ object.pk }}">
            <p></p>
            <form class="delete-form" method="post" action="{% url 'photo delete' pk=object.pk %}">
                {{ form.as_p }}
                <button id="delete-photo-button" type="submit">Delete</button>
                {% csrf_token %}
            </form>
            <form class="delete-form" action="{% url 'photo details' pk=object.pk %}">
                <input id="no-button" type="submit" value="No"/>
            </form>
        </div>
        {% include 'partials/right-side-page.html' %}
    </div>
{% endblock %}