{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="left">
            <h1>Edit photo</h1>
            <img width="500" src="{{ object.photo.url }}" alt="photo {{ object.pk }}">
            <form action="{% url 'photo edit' pk=object.pk %}" method="post">
                {{ form.as_p }}
                <button type="submit">Edit</button>
                {% csrf_token %}
            </form>
            <a href="{% url 'photo details' pk=object.pk %}">Back</a>
        </div>
        {% include 'partials/right-side-page.html' %}
    </div>
{% endblock %}