{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div id="container">
        <div id="left">
            <h1>Add photo</h1>

            <form action="{% url 'photo add' %}" method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                <button type="submit">
                    Add this photo
                </button>
                {% csrf_token %}
            </form>
        </div>
        {% include 'partials/right-side-page.html' %}
    </div>
{% endblock %}